body{
background-color: #000000;
}
#content{
    background-color: rgb(3 78 111);
    width:400px;
    margin: auto;
    text-align: center;
    padding: 8px;
    border-radius: 25px;
    }
    
    .glow {
        position: relative;
       
        background: #111111;
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
    }
    
    .glow::before,
    .glow::after {
        content: '';
        z-index: -1;
        position: absolute;
        width: calc(100% + 6px);
        height: calc(100% + 6px);
        top: -3px;
        left: -3px;
        background: linear-gradient(45deg,
        #000000, #ffc400, #ffffff, #000000, #ffc400,
        #000000, #ffc400, #f0f0f0, #000000, #ffc400
        );
        background-size: 300%;
        animation: border 20s linear infinite;
        border-radius: 25px;
    }
    
    .glow::after {
        filter: blur(30px);
    }
    
    @keyframes border {
    
        0%, 100% {
            background-position: 0 0;
        }
    
        50% {
            background-position: 300%;
        }
        
    }
    
    #ball {
        width: 340px;
        height: 340px;
        background: black;
        color: white;
        margin: auto;
        margin-top: 10px;
        border-radius: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        letter-spacing: 3px;
    }
    
    #anwer{
        font-family: 'Oleo Script Swash Caps', cursive
    }
    #qustionArea{
        border-radius: 5px;
    
    }